<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>grub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="../main.css">
      </head>
    <body>
            <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                            <img src="../grub_logo.png" width="60" height="60" alt="">
                          </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collpase navbar-collapse"></div>
                    <ul class="nav justify-content-end">
                            <li class="nav-item">
                              <a class="nav-link active" href="/">Home</a>
                            </li>
                            <li class="nav-item" id="grubspot">
                              <a id="grub_spots" class="nav-link" href="/app">Grub Spots</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/sessions/new">Log in</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" href="/users/new">Register</a>
                            </li>
                            <% if(currentUser) { %>
                                <li>
                                    <form action="/sessions?_method=DELETE" method="POST">
                                        <input class="btn btn-secondary" type="submit" value="Logout">
                                    </form>
                                </li>
                            <% } %>
                          </ul>
                  </nav>
                  
                  <div class="intro_logo">
                        <img class="burger" src="../welcome_grub.png">
                        </div>  
                      
                  <div class="jumbotron">
                        
                        <h1 class="display-4">   <% if(currentUser) { %>
                            Hey <%=currentUser.username%>!
                            <% } else { %>
                                <a href="/sessions/new" class="btn btn-secondary btn-lg active" id="Log-In" role="button" aria-pressed="true">Log in</a>
                                <a href="/users/new" class="btn btn-secondary btn-lg active" id="Register" role="button" aria-pressed="true">Register</a>

                            <% } %>
                        </h1>
                                
                                      
                            
                
        
        
                <% if(currentUser) { %>
                    <p class="lead">What are you in the mood for?</p>
                    <hr class="my-4">
                    <p>Let's get started</p>
                            <a href="/app/new" class="btn btn-secondary btn-lg active" id="add_a_grub_spot" role="button" aria-pressed="true">Add a grub spot</a>

                    
                <% } %>
                  </div>
                  </div>
                <!-- Log in - Register box 
                   <div class="container">
                        <a href="/sessions/new">Log In</a></li>
                        <a href="/users/new">Register</a></li>
                   </div> -->
            



           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>