<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>LOGO GOES HERE</h1>
        
        <!-- Log in - Register box  -->
           <div class="container">
                <a href="/sessions/new">Log In</a></li>
                <a href="/users/new">Register</a></li>
           </div>
            
        
    </body>
</html>