<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <ul>
        <% for(let i=0; i < restaurants.length; i++){ %>
            <li>
            location: <%=restaurants[i].location %>
            name: <%=restaurants[i].name %>
            cost: <%=restaurants[i].cost %>
            </li>
            <% } %>
    </ul>
    
</body>
</html>