<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>
    <form action="/app" method="POST">
        <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Boston, Miami, etc...">
              </div>
              <div class="form-group">
                    <label for="location">Restaurant Name</label>
                    <input type="text" class="form-control" id="restaurant" placeholder="Where do you want to GRUB?">
                  </div>
                  <div class="form-group">
                        <label for="exampleFormControlSelect1">What's the budget?</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>$</option>
                          <option>$$</option>
                          <option>$$$</option>
                          <option>$$$$</option>
                          
                        </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>